    button[type=submit] {
      margin-top: 0;
    }

    input[type=text], select, textarea {
      width: 100%;
      }

    .col-label {
      float: left;
      width: 25%;
      margin-top: 6px;
    }

    .col-input {
      float: left;
      width: 60%;
      margin-top: 6px;
    }