html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    font-family: Arial;
}

header {
    width: 100%;
    z-index: 1;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #333;
    color: white;
    box-shadow: 1px 1px 3px rgba(0,0,0, .5);
    display: block;
}

header a {
    color: #eee;
}

header a:hover {
    text-decoration: underline;
}

header a + a::before {
    content: "|";
    margin: 0 1rem;
}

header nav {
    padding-left: 100px;
}

body {
    background: linear-gradient(to right, #99FF33 0%,#ffff33 100%);
    color: #000;
}

p {
    font-size: 18px;
    text-align: center;
    margin: 10px;
}


h1 {
    text-align: center;
    font-size: 32px;
}

h2 {
    text-align: center;
}

button {
    background-color: #fbb124;
    border: none;
    border-radius: 5px;
    color: #000;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

form {
    margin: 0 auto;
    font-size: 20px;
}

.delete{
    background-color: red;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

label {

}

input[type=text] {
    padding: 5px;
}

input[type=number] {
    padding: 5px;
}

.dropdown-item {
    padding: 5px;
}
