/* -------------------------- nav ------------------------ */
body {
    margin-top: 40px;
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body:before {
    content: "";
    position: fixed;
    left: -5%;
    right: -5%;
    z-index: -1;

    display: block;
    background-image: url(background.jpg);
    background-size: cover;
    width: 110%;
    height: 110%;

    -webkit-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}


/* -------------------------- form ------------------------ */

* {
    box-sizing: border-box;
}

input[type=number] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#label-text {
    text-align: center;
}

label {
    padding: 12px 12px 12px 12px;
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
    color: #f2f2f2;
    font-size: 30px;
}

button[type=submit] {
    background-color: mediumblue;
    color: whitesmoke;
    font-weight: bold;
    padding: 12px 20px;
    border-style: outset;
    border-color: blue;
    border-radius: 15px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: darkblue;
    border-color: mediumblue;
}

#delete {
    background-color: whitesmoke;
    border-color: aliceblue;
    color: #333333;
}

#delete:hover {
    background-color: red;
    border-color: #FF5A5A;
}


.container {
    border-radius: 5px;
    padding: 20px;
}

.col-label {
    float: left;
    width: 15%;
    margin-top: 0.1px;
}

.col-input {
    float: left;
    width: 35%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    font-weight: bold;
    color: white;
    font-size: 50px;
}

.pagetop-including-ordername {
    word-break: break-all;
}

/* -------------------------- table ------------------------ */

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}

.nav-arrow {
    color: whitesmoke;
}

.nav-arrow:active {
    color: goldenrod;
}

.text-muted {
    color: lightslategrey;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    font-size: 20px;
}

table caption {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table thead {
    height: 3em;
}

table tr {
    color: black;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    text-align: center;
    width: 100% ;
    height: auto;
}

table th {
    font-size: 25px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

td[data-label] p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td[data-label] p:hover{
    overflow: visible;
    white-space: normal;
    word-break: break-all
}

.page {
    color: white;
}

/* -------------------------- alert ------------------------ */

.alert-done {
    padding: 20px;
    background-color: green;
    color: white;
    width: 60%;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.alert-error {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

