<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head :: head"></div>
    <title id="title">Add ordered product</title>
</head>
<body>
<div th:replace="fragments/nav-bar :: nav"></div>
<div class="container">

    <div class="orders">
        <h2>Add ordered product for
            <div th:text="${orderName}"></div>
        </h2>
        <!-----------------------Add ordered product------------------------------------->
        <form action="#" th:action="@{|/ordered-product/${orderName}/add|}" th:object="${orderedProductNew}"
              method="post">
            <div class="row">
                <div class="col-label">
                    <label for="product">Product name</label>
                </div>
                <div class="col-input">
                    <input type="text" name="product" id="product" th:field="*{productName}">
                </div>
            </div>
            <div class="row">
                <div class="col-label">
                    <label for="quantity">Quantity</label>
                </div>
                <div class="col-input">
                    <input type="number" name="quantity" id="quantity" th:field="*{quantity}">
                </div>
            </div>
            <div class="row">
                <div class="col-label"></div>
                <button type="submit">Add ordered product</button>
            </div>
        </form>
    </div>
    <br>
    <br>

    <!----------------------Ordered products table------------------------------------->
    <table class="table">
        <caption>Ordered products</caption>
        <thead>
        <tr>
            <th scope="col"><h3>Product Name</h3></th>
            <th scope="col"><h3>Quantity</h3></th>
        </tr>
        </thead>
        <tbody>
        <div th:each="orderedProduct : ${orderedProducts}">
            <tr>
                <td data-label="Product Name">
                    <p th:text="${orderedProduct.getProductName()}"></p>
                </td>
                <td data-label="Quantity">
                    <p th:text="${orderedProduct.getQuantity()}"></p>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
</div>
</body>
</html>
