<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<header>
    <div class="nav-container">
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/storage/add}">Add item</a></li>
                <li><a th:href="@{/shipments}">Shipments</a></li>
                <li><a th:href="@{/order}">Add order</a></li>
                <li><a th:href="@{/items}">Items</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <div class="orders">
    <h2>Add ordered product for <div th:text="${orderName}"></div></h2>

    <!-----------------------Add ordered product------------------------------------->
    <form action="#" th:action="@{|/ordered-product/${orderName}/add|}" th:object="${orderedProductNew}" method="post">
        <label for="product">Product name</label>
        <input type="text" name="product" id="product" th:field="*{productName}">
        <label for="quantity">Quantity</label>
        <input type="number" name="quantity" id="quantity" th:field="*{quantity}">
        <button type="submit">Add ordered product</button>
    </form>
    </div>
    <br>
    <br>

    <!----------------------Ordered products table------------------------------------->
    <table class="ord">
        <tr>
            <th><h3>Product Name</h3></th>
            <th><h3>Quantity</h3></th>
        </tr>
        <div th:each="orderedProduct : ${orderedProducts}">
            <tr>
                <td>
                    <h2>
                        <p th:text="${orderedProduct.getProductName()}"></p>
                    </h2>
                </td>
                <td>
                    <h2>
                        <p th:text="${orderedProduct.getQuantity()}"></p>
                    </h2>
                </td>
            </tr>
        </div>
    </table>
</div>
</body>
</html>
