<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head :: head"></div>
    <title id="title">New product</title>
</head>
<body>
<div th:replace="fragments/nav-bar :: nav"></div>

<div class="container">
    <!-----------------------New bulk product-------------------------------->
    <div class="add-product">
        <div class="full-height"></div>
        <h2>Add product</h2>
        <form action="#" th:action="@{/bulkProduct/new}" th:object="${bulkProductNew}" method="post"
              id="bulkProductNew">
            <div th:switch="${savedBulkProduct}">
                <div th:case="${savedBulkProduct == true}">
                    <div class="alert-done">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <span th:text="'Saved '"></span>
                        <b th:text="${bulkProductName}"></b>
                        <span th:text="' bulk product.'"></span>
                    </div>
                </div>
            </div>
            <div th:if="${bulkProductError}">
                <div class="alert-error">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <span th:text="${errorMessage}"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-label">
                    <label for="bulkProductNewNameId">Name</label>
                </div>
                <div class="col-input">
                    <input type="text" name="bulkProductNewName" id="bulkProductNewNameId" th:field="*{name}">
                </div>
            </div>
            <div class="row">
                <div class="col-label">
                    <label for="unitBulkProduct">Unit</label>
                </div>
                <div class="col-input">
                    <select name="unitToSet" id="unitBulkProduct">
                        <option th:value="Piece">
                            <p th:text="Piece"></p>
                        </option>
                        <option th:value="Kg">
                            <p th:text="Kg"></p>
                        </option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-label"></div>
                <button type="submit">New bulk product</button>
            </div>
        </form>
        <br>
        <!---------------------New identified product-------------------------------->
        <form action="#" th:action="@{/identifiedProduct/new}" th:object="${identifiedProductNew}" method="post"
              id="identifiedProductNew">
            <div th:switch="${savedIdentifiedProduct}">
                <div th:case="${savedIdentifiedProduct == true}">
                    <div class="alert-done">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <span th:text="'Saved '"></span>
                        <b th:text="${identifiedProductName}"></b>
                        <span th:text="' bulk product.'"></span>
                    </div>
                </div>
            </div>
            <div th:if="${identifiedProductError}">
                <div class="alert-error">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <span th:text="${errorMessage}"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-label">
                    <label for="identifiedProductNewNameId">Name</label>
                </div>
                <div class="col-input">
                    <input type="text" name="identifiedProductNewName" id="identifiedProductNewNameId"
                           th:field="*{name}">
                </div>
            </div>
            <div class="row">
                <div class="col-label"></div>
                <button type="submit">New identified product</button>
            </div>
        </form>
    </div>
    <br>
    <br>
    <a name="item"></a>
    <!-----------------------Delete all products----------------------------------->
    <form action="#" th:action="@{/deleteAll}" method="post">
        <div class="row">
            <button type="submit" class="delete" id="delete">Delete all products</button>
        </div>
    </form>
    <br>
    <br>
    <!-----------------------Add item------------------------------------->
    <h2>Add item</h2>
    <form action="#" th:action="@{/item/new}" th:object="${itemNew}" method="post">
        <div th:switch="${savedItem}">
            <div th:case="${savedItem == true}">
                <div class="alert-done">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <span th:text="'Saved '"></span>
                    <b th:text="${identifiedProductName}"></b>
                    <span th:text="' item with '"></span>
                    <b th:text="${productNumber}"></b>
                    <span th:text="' product number.'"></span>
                </div>
            </div>
        </div>
        <div th:if="${itemError}">
            <div class="alert-error">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <span th:text="${errorMessage}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-label">
                <label for="Type">Type</label>
            </div>
            <div class="col-input">
                <select name="identifiedProductToSet" id="Type">
                    <div th:each="identifiedProduct : ${identifiedProductsFiltered}">
                        <option th:value="${identifiedProduct.getName()}">
                            <p th:text="${identifiedProduct.getName()}"></p>
                        </option>
                    </div>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-label">
                <label for="number">Product number</label>
            </div>
            <div class="col-input">
                <input type="number" name="productNumber" id="number" th:field="*{productNumber}">
            </div>
        </div>
        <div class="row">
            <div class="col-label">
                <label for="priceItem">Price</label>
            </div>
            <div class="col-input">
                <input type="number" name="price" id="priceItem" th:field="*{price}">
            </div>
        </div>
        <div class="row">
            <div class="col-label"></div>
            <button type="submit">Add item</button>
        </div>
    </form>
    <!----------------------Add shipment--------------------------------------->
    <h2>Add shipment</h2>
    <form action="#" th:action="@{/shipment/new}" th:object="${shipmentNew}" method="post">
        <a name="shipment"></a>
        <div th:switch="${savedShipment}">
            <div th:case="${savedShipment == true}">
                <div class="alert-done">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <b th:text="${bulkProductName}"></b>
                    <span th:text="' shipment saved with '"></span>
                    <b th:text="${quantity}"></b>
                    <span th:text="'quantity, '"></span>
                    <b th:text="${arrival}"></b>
                    <span th:text="' arrival date and '"></span>
                    <b th:text="${bestBefore} "></b>
                    <span th:text="'best before date.'"></span>
                </div>
            </div>
        </div>
        <div th:if="${shipmentError}">
            <div class="alert-error">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <span th:text="${errorMessage}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-label">
                <label for="typeBulk">Type</label>
            </div>
            <div class="col-input">
                <select name="bulkProductToSet" id="typeBulk">
                    <div th:each="bulkProduct : ${bulkProductsFiltered}">
                        <option class="dropdown-item" th:value="${bulkProduct.getName()}">
                            <p th:text="${bulkProduct.getName()}"></p>
                        </option>
                    </div>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-label">
                <label for="quantity">Quantity</label>
            </div>
            <div class="col-input">
                <input type="number" name="quantity" id="quantity" th:field="*{quantity}">
            </div>
        </div>
        <div class="row">
            <div class="col-label">
                <label for="priceShipment">Price</label>
            </div>
            <div class="col-input">
                <input type="number" name="price" id="priceShipment" th:field="*{price}">
            </div>
        </div>
        <div class="row">
            <div class="col-label">
                <label for="arrivalToSet">Arrival</label>
            </div>
            <div class="col-input">
                <input type="text" name="arrivalToSet" id="arrivalToSet"
                       pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
                       title="Arrival date DD-MM-YYYY" placeholder="YYYY-MM-DD">
            </div>
        </div>
        <div class="row">
            <div class="col-label">
                <label for="bestBeforeToSet">Best before</label>
            </div>
            <div class="col-input">
                <input type="text" name="bestBeforeToSet" id="bestBeforeToSet"
                       pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
                       title="Best before date YYYY-MM-DD" placeholder="YYYY-MM-DD">
            </div>
        </div>
        <div class="row">
            <div class="col-label"></div>
            <button type="submit">Add shipment</span></button>
        </div>
    </form>
    <br>
    <br>
    <a name="filterForm"></a>
    <form action="#" th:action="@{/storage/add#filterForm}" method="get">
        <div class="row">
            <div class="col-label">
                <label for="filter">Filter types</label>
            </div>
            <div class="col-input">
                <input type="text" name="filterProducts" id="filter">
            </div>
        </div>
        <div class="row">
            <div class="col-label"></div>
            <button type="submit">Filter</span></button>
        </div>
    </form>
</div>
</body>
</html>
