<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
<header>
    <div class="nav-container">
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/storage/add}">Add item</a></li>
                <li><a th:href="@{/shipments}">Shipments</a></li>
                <li><a th:href="@{/order}">Add order</a></li>
                <li><a th:href="@{/items}">Items</a></li>
                <li><a th:href="@{/shipments}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">

    <!----------------------Items table------------------------------------->
    <table>
        <tr>
            <th><h3>Item Name</h3></th>
            <th><h3>Product number</h3></th>
        </tr>
        <div th:each="item : ${items}">
            <tr>
                <td>
                    <h2>
                        <p th:text="${item.getIdentifiedProduct().getName()}"></p>
                    </h2>
                </td>
                <td>
                    <h2>
                        <p th:text="${item.getProductNumber()}"></p>
                    </h2>
                </td>
            </tr>
        </div>
    </table>

</div>
</body>
</html>
