<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link th:href="@{/styles.css}" rel="stylesheet" type="text/css" media="all"/>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
<div class="container">

    <!----------------------Items table------------------------------------->
    <table class="table table-borderless">
        <tr>
            <th class="badge badge-warning"><h3>Item Name</h3></th>
            <th><h3>Product number</h3></th>
        </tr>
        <div th:each="item : ${items}">
            <tr class="bg-light mb-3">
                <td>
                    <h2>
                        <button th:text="${item.getIdentifiedProduct().getName()}" class="badge badge-warning"
                                disabled></button>
                    </h2>
                </td>
                <td>
                    <h2>
                        <button th:text="${item.getProductNumber()}" class="badge badge-light" disabled></button>
                    </h2>
                </td>
            </tr>
        </div>
    </table>

</div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
