<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head :: head"></div>
    <title id="title">Items</title>
</head>
<body>
<div th:replace="fragments/nav-bar :: nav"></div>

<div class="container">
    <!----------------------Items table------------------------------------->
    <table>
        <thead>
        <tr>
            <th scope="col"><h3>Item Name</h3></th>
            <th scope="col"><h3>Product number</h3></th>
        </tr>
        </thead>
        <div th:each="item : ${items}">
            <tr>
                <td data-label="Product Name">
                        <p th:text="${item.getIdentifiedProduct().getName()}"></p>
                </td>
                <td data-label="Product Number">
                        <p th:text="${item.getProductNumber()}"></p>
                </td>
            </tr>
        </div>
    </table>

</div>
</body>
</html>
