<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <meta charset="UTF-8">
    <title>New product</title>
</head>
<body>
<header>
    <div class="nav-container">
        <nav>
            <ul>
                <li><a th:href="@{/storage/add}">Add item</a></li>
                <li><a th:href="@{/shipments}">Shipments</a></li>
                <li><a th:href="@{/shipments}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">

    <!----------------------Bulk products table------------------------------------->
    <table>
        <tr>
            <th><h3>Bulk Product Name</h3></th>
            <th><h3>Quantity</h3></th>
            <th><h3>Arrival</h3></th>
            <th><h3>Best before</h3></th>
        </tr>
        <div th:each="shipment : ${shipments}">
            <tr>
                <td>
                    <h2>
                        <button th:text="${shipment.getBulkProduct().getName()}"></button>
                    </h2>
                </td>
                <td>
                    <h2>
                        <button th:text="${shipment.getQuantity()}"></button>
                    </h2>
                </td>
                <td>
                    <h2>
                        <div th:text="${shipment.getArrival()}"></div>
                    </h2>
                </td>
                <td>
                    <h2>
                        <div th:text="${shipment.getBestBefore()}"></div>
                    </h2>
                </td>
            </tr>
        </div>
    </table>
</div>
</body>
</html>
