<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head :: head"></div>
    <title id="title">Shipments</title>
</head>
<body>
<div th:replace="fragments/nav-bar :: nav"></div>

<div class="container">
    <!----------------------Shipments table------------------------------------->
    <table>
        <thead>
        <tr>
            <th scope="col"><h3>Bulk Product Name</h3></th>
            <th scope="col"><h3>Quantity</h3></th>
            <th scope="col"><h3>Price</h3></th>
            <th scope="col"><h3>Arrival</h3></th>
            <th scope="col"><h3>Best before</h3></th>
        </tr>
        </thead>
        <div th:each="shipment : ${shipments}">
            <tr>
                <td data-label="Product Name">
                    <p th:text="${shipment.getBulkProduct().getName()}"></p>
                </td>
                <td data-label="Quantity">
                    <p th:text="${shipment.getQuantity()}"></p>
                </td>
                <td data-label="Price">
                    <p th:text="${shipment.getPrice()}"></p>
                </td>
                <td data-label="Arrival">
                    <p th:text="${shipment.getArrival()}"></p>
                </td>
                <td data-label="Best before">
                    <p th:text="${shipment.getBestBefore()}"></p>
                </td>
            </tr>
        </div>
    </table>
</div>
</body>
</html>
