<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head :: head"></div>
    <title id="title">User</title>
</head>
<body>
<div th:replace="fragments/nav-bar :: nav"></div>

<!----------------------Paging navigation------------------------------------->
<div class="container">
    <div class="row">
        <div class="page">
            <a class="nav-arrow" th:unless="${pageid == 0}" th:href="|/users?pageId=${pageid - 1}">
                <i class="fas fa-arrow-left"></i>
            </a>
            <span class="text-muted" th:if="${pageid == 0}">
            <i class="fas fa-arrow-left"></i>
        </span>
            <div class="px-2" th:text="'page ' + ${pageid +1}"></div>
            <a class="nav-arrow" th:unless="${islastpage}" th:href="|/users?pageId=${pageid + 1}|">
                <i class="fas fa-arrow-right text-info"></i>
            </a>
            <span class="text-muted" th:if="${islastpage}">
            <i class="fas fa-arrow-right"></i>
        </span>
        </div>
    </div>

    <!----------------------Users table------------------------------------->
    <table>
        <caption>Users</caption>
        <thead>
        <tr>
            <th scope="col"><h3>Delete</h3></th>
            <th scope="col"><h3>ID</h3></th>
            <th scope="col"><h3>Name</h3></th>
            <th scope="col"><h3>E-mail</h3></th>
            <th scope="col"><h3>Admin</h3></th>
        </tr>
        </thead>
        <div th:each="user : ${users}">
            <tbody>
            <tr>
                <td data-label="Delete">
                    <form th:action="@{'/users/delete/' + ${user.getId()}}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td data-label="Id">
                    <p th:text="${user.getId()}"></p>
                </td>
                <td data-label="Name">
                    <p th:if="${user.getName()!=null}" th:text="${user.getName()}"></p>
                    <p th:unless="${user.getName()!=null}" th:text="Never_Logged_in"></p>
                </td>
                <td data-label="Email">
                    <p th:text="${user.getEmail()}"></p>
                </td>
                <td data-label="Admin" th:if="${user.getIsAdmin()}">
                    <form th:action="@{'/users/update/' + ${user.getId()}}" method="post">
                        <button type="submit">Demote</button>
                    </form>
                </td>
                <td data-label="Admin" th:unless="${user.getIsAdmin()}">
                    <form th:action="@{'/users/update/' + ${user.getId()}}" method="post">
                        <button type="submit">Promote</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </div>
    </table>
    <!----------------------User error--------------------------------------->
    <div><a name="adduser"></a></div>
    <div th:if="${userError}">
        <div class="alert-error">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <span th:text="${errorMessage}"></span>
        </div>
    </div>
    <!-----------------------New user-------------------------------->
    <form action="#" th:action="@{/users}" th:object="${newuser}" method="post">
        <div class="row">
            <div class="col-label">
                <label for="newUser">New user</label>
            </div>
            <div class="col-input">
                <input type="text" id="newUser" th:field="*{email}">
            </div>
        </div>
        <div class="row">
            <div class="col-label"></div>
            <button type="submit">Save user</button>
        </div>
    </form>
</div>
</body>
</html>

